<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.IAccountDao">
    <resultMap type="com.example.demo.entity.AccountEntity" id="AccountResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="money" column="money"/>
    </resultMap>
    <select id="findAllList" resultMap="AccountResult">
        select * from account
    </select>

    <select id="findById" parameterType="Integer" resultMap="AccountResult">
        select * from account where id=#{id}
    </select>

    <update id="updateAccount" parameterType="com.example.demo.entity.AccountEntity">
        update account a
        <trim prefix="set" suffixOverrides=",">   
            <if test="name!=null">a.name=#{name},</if>  
            <if test="money!=null">a.money=#{money},</if>
        </trim>
        <where>
            a.id = #{id}
        </where>
    </update>
    <insert id="saveAccount" parameterType="com.example.demo.entity.AccountEntity">
        insert into account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name!= null">
                name,
            </if>
            <if test="money!=null">
                money,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name!=null">
                #{name},
            </if>
            <if test="money!=null">
                #{money},
            </if>
        </trim>
    </insert>
    <delete id="deleteAccount" parameterType="Integer">
        delete from account
        <where>
            id = #{id}
        </where>
    </delete>
</mapper>
